127.0.0.1 localhost
::1       localhost ip6-localhost ip6-loopback

# NG-SOC LM8 topology hosts
10.10.20.10  web-banking web-banking.{{ internal_domain }}
10.10.20.20  c2-server   update-svc.blackfalcon-sim.internal
10.10.30.10  employee-ws employee-ws.{{ internal_domain }}
10.10.30.20  file-server file-server.{{ internal_domain }}
10.10.30.30  db-server   db-server.{{ internal_domain }}
10.10.40.10  siem        siem.{{ internal_domain }}
10.10.40.20  analyst-host analyst-host.{{ internal_domain }}
10.10.40.30  cti         cti.{{ internal_domain }}
10.10.50.10  kali        kali.{{ internal_domain }}
