<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><title>SecureBank Online</title>
<meta http-equiv="refresh" content="0; url=login.php">
</head>
<body><p>Redirecting to <a href="login.php">login page</a>…</p></body>
</html>
